

@media (min-width:600px) {
  html{
    font-size: 1em;
  }
}
@media (min-width: 1000px) {
  html{
    font-size: 1.2em;
  }
}

.row {
  margin-left:0px;
  margin-right:0px;
}
 


body{

font-family:lato;
    background-image: linear-gradient(rgba( 52, 153, 219, 0.8), rgba( 52, 153, 219, 0.8)), url('http://samiralibabic.github.io/portfolio/img/pexels-photo-min.jpg');
/*   background-size: cover; */
 
  max-width:100%;
}


.header-content {
    max-width: 100%; 
}

#fixed_head {
  position:fixed;
  top:0;
  background-color:#363633;
  width:100%;
  padding:0.2em; 
  height:4em;
  z-index:3;
 max-width: 100%; 
}

@media(max-width:600px){
  #fixed_head{ background: rgba(0, 0, 0, 0.2);}}

img{
  max-width: 99.95%;

 
}

.menu-principal ul {
  list-style:none;
  margin-left:45%;
 

}

@media(max-width :600px){
  
  .barra-nav {
   
    
    margin-left:30%;
    padding-top:1.5%;
   
   

    height: 70%;
    width: 70%;
    
  }
  
  .barra-nav .menu-principal{
    padding:10% 10%;
    margin:10% 70% 0% 10%;
     font-size: 1.3em;
       transition: left 0.6s ease-out; 

  }
}


.menu-principal ul > li  {  
  float:left;
  border-left:1px solid #000;
  padding: 0.2em 2em;
  
}
li:first-child {
   border-left:none;
}

li a {
    text-transform: uppercase;
  font: 1.2em Helvetica, Verdana, sans-serif;
}






/*MENU*/

@media(max-width:600px){
.barra-nav {
/*     background: #363633; */
  background: rgba(0, 0, 0, 0.7);
    padding-right:5%;
    margin: 0;

    height: 90%;
    width: 100%;
    max-width: 380px;
 
    position: fixed;
    z-index:1;
    top: 0;
    left: -140%;
   transition: left 0.3s ease-out;
}

.menu-ativo .barra-nav {
    left: 0%;
}
  
  ul:li:first-child {
   border-left:1px solid black;
}
  .menu-abrir { margin-top:0.6em;}
  
}

@media not all and (max-width:660px) {
    .menu-abrir,
    .menu-fechar {
        display: none;
     
   }


}

/*fundo menu*/

.menu-ativo:after {
    content: "";
    display: block;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: rgba(0,0,0,0.7);
}





.secao-foto{
  float:left;
  width:35%;
   width-max:40px;
   height:40%;
  margin-top:5%;
  background:transparent;
}

.zap{
  color:white;
   text-shadow: black 0.1em 0.1em 0.2em;
}

.secao-content{ 
  color:#FFF;
   text-shadow: black 0.1em 0.1em 0.1em;
 margin:0px;
/*   background-image: linear-gradient(45deg, rgba(194, 233, 221, 0.5) 1%, rgba(104, 119, 132, 0.5) 100%), linear-gradient(-45deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%); */
 background: rgba(0, 0, 0, 0.1);
}


@media(max-width:600px)
{
  .secao-foto{ 
          width:99%;   
            }
  .secao-content{
    text-align:center;
      
  }
  
  }

.me {
  border-radius:50%;
  width: 15em;
	height: 15em;
   display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
}



.background-custom
{
  width:100%;
  max-width: 100%; 
/*   padding: 5% 5% 2% 5%; */
/*  background-color:transparent; */
  background: rgba(0, 0, 0, 0.6);
}



.display
{ display:none;}



#skills{
 
  background: rgba(0, 0, 0, 0.7);
 
  
}

#skills h3{
/*    text-transform: uppercase; */
   color:#1E90FF ;
}

#skills p{

   color:white ;
}


.wrapper_galeria  h3 {
  text-transform:uppercase;
   color:#1E90FF;
   text-shadow: black 0.1em 0.1em 0.2em;
}

.thumbnail{
background: rgba(0, 0, 0, 0.6);
}

.thumbnail p { 

  color:white;
}

.gallery {
  
	padding: 2.5em 1em 2em;
	position: relative;
	overflow: hidden;
   
}




 .gallery ul li {
  float:left; 
  width:24%;
   margin:0.3%;
	padding: 0;
	
}




.gallery ul{
   list-style:none;
   
}

@media (max-width:600px) {
  .gallery ul li {
   float:left; 
  width:48%;
 
  }
}



/* colunas */
.coluna{
    float: left;
  width:30%;
  margin:1% 1% 10% 2%;
  padding:2%;
  
}




@media (max-width:600px) {
  .coluna{
    width: 99%;

    margin:0%;
       
  }
  
  .coluna p{ padding:5%;}
}



.coluna span{
/*    text-transform:uppercase; */
  color:white;
   text-shadow: black 0.1em 0.1em 0.2em;
}

.coluna h3{
   text-transform:uppercase;
 color:#1E90FF;
/*    text-shadow: black 0.1em 0.1em 0.2em */
}

.coluna p{
/*    text-transform:uppercase; */
  color:white;
/*    text-shadow: black 0.1em 0.1em 0.1em */
}

/* gaveta */
.port {
	position: absolute;
	width: 100%;
	height:100%;

	padding-top: 1%;
	background: #ffffff;
	z-index: 4;
	visibility: hidden;
	 transition: all 0.8s ease-out;
}








.port img{
  width:45%;
  margin-right:5%;
  margin-top:5%;
}

@media(max-width:600px ){
 .port img{
    width: 80%;
   margin-left:10%;
   margin-right:10%;
   padding:10%;

  }
}



.description{
		float: left;
		width: 46%;
		max-height: 100%;
		padding: 0 40px 40px;
		overflow: auto;
}

@media(max-width:600px ){
  .description{
    width: 100%;

  }
}


h1{
		font-size: 35px;
		line-height: 2.3;
		padding: 1%;
}


.item_open{
		visibility: visible;
  transition: all 0.8 ease-out;
  
}


/*tampando a lateral direita do menu  com fundo tranparente escuro*/





.close {

    position: absolute;
	right: 35px;
	top: 10px;
	
	z-index: 1;
 transition: all 0.5s ease-out;
}


.item_open {
		opacity: 1;
		top: 150%;
  width: 100%;
   height:125%;
      transition: all 0.8s ease-out;
}

@media(max-width:600px ){
  .item_open {
  top: 150%;
     width: 100%;
  
  }
}
 



/* hover */
.gallery ul li a img:hover {
 opacity:0.5; 

    -webkit-filter: blur(1px); 
  
  
}

footer {
  
  width:100%;
  height:100%;
  color :white;
 background: rgba(0, 0, 0, 0.7);
}


.rodape {
  width:47%;
  float:left;
  padding:5%;

  
}

@media (max-width:600px) {
  .rodape {
    width: 99%;

    margin:0%;
      padding:5%;
       
   }
  }

  
.footer_below p {
  padding-top:2%;
}

/* scroll top  */

.scrollTop {
  position:fixed;
  width: 3em;
  height: 2em;  
   bottom: 3%;
   right: 3%;
    background: rgba(0, 0, 0, 0.7);
   border-radius: 20%;
/*     text-align: center; */
    opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

  
.scrollTop a {
    font-size: 18px;
  color: #fff;
}

  
/* colors menu header */
.test {
   background: rgba(250, 250, 250, 0.8);
}